# PyInstaller build artifacts (do NOT push large binaries to git repo)
dist/
build/
*.spec

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE files
.vscode/
.idea/
